.box{
    position: relative;
    background-color: rgb(0,0,0);
    height: 30px;
    width: 30px;
    padding: 0%;
    margin: 0em;
}

.array{
    width: 480px;
    position: relative;
    left: 50vh;
}

.jumbotron{
    width: 600px;
    position: relative;
    left: 50vh;
}

#genCode{
    position: absolute;
    left: 82.5%;
    top: 48%;
}

#colorSwatch{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;
    left: 80%;
    top: 20%;
}

